<div class="pa3">
  <div class="w-60-ns center">
    <p class="tl b">Showing <%= number_of_results @resources %></p>
  </div>
  <%= for resource <- @resources do %>
    <div id="resource_<%= resource.id %>">
      <%= render "resource.html", resource: resource, conn: @conn %>
    </div>
  <% end %>
</div>
