<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      dataLayer = [];
    </script>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PF8GGT7');</script>
    <!-- End Google Tag Manager -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-97311089-1', 'auto');
      ga('send', 'pageview');

    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>London Minds</title>
    <%= if is_ie8? @conn do %>
      <link rel="stylesheet" href="<%= static_path @conn, "/css/ie8.css" %>">
    <%= else %>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <link rel="stylesheet" href="<%= static_path @conn, "/css/app.css" %>">
    <% end %>
    <link rel="icon" href="favicon.png">
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PF8GGT7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container">
      <%= if String.length(@banner) > 0  do %>
        <div aria-hidden="true" class="pa3 lm-bg-dark-blue lm-dark-blue w-100 f6 f5-l f5-m banner banner-2 segoe">
          <%= transform_html @banner, @conn %>
        </div>
        <div class="pa3 lm-bg-dark-blue lm-white w-100 f6 f5-l f5-m banner segoe fixed top-0 z-5 dt-ns dt--fixed-ns">
          <div class="dtc-ns w-50-l w-40-m v-mid">
            <%= transform_html @banner, @conn, class: "underline lm-white dib", id: "feedback-link" %>
          </div>
          <div class="dtc-ns dn tr v-mid banner_buttons">
            <%= component "buttons/secondary_button", value: "Take self-assessment", to: "/coming-soon", id: "assessment", class: "f6 f7-m" %>
            <%= component "buttons/secondary_button", value: "Get urgent support", to: "/crisis", id: "crisis", class: "f6 f7-m" %>
          </div>
        </div>
      <% end %>
      <p class="alert" role="alert"><%= get_flash @conn, :info %></p>
      <p class="alert" role="alert"><%= get_flash @conn, :error %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path @conn, "/js/app.js" %>"></script>
  </body>
</html>
