<%= if get_flash(@conn, @type) do %>
  <div class="alert ma0 mb1 mr1 mt4 pa3 ba bw1-ns bg--lm-green b--lm-green relative" role="alert">
    <%= get_flash(@conn, @type) %>
    <i class="bg--lm-dark-green lm-white absolute br-100 tick-icon fa fa-check"></i>
  </div>
<% end %>
