/* This file is for your main application css. */

/*fonts*/

body {
  font-family: 'Segoe UI','NunitoSans',Arial,sans-serif; 
  color: #242F4F;
  min-height: 100%;
  height: 100%;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/nunito/NunitoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url(/fonts/segoe/SEGOEUI.TTF) format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*elements*/
.container {
  min-height:100vh;
  position:relative;
}

.button {
  border: none;
}

.cover-img {
  background-image: url("/images/background-img.png");
}

/* Phoenix flash messages */
.alert:empty {
  display: none;
}

/*color palette*/

.lm-bg-orange {
  background-color: #FAB781;
}

.lm-bg-dark-blue {
  background-color: #242E50;
}

.lm-bg-white {
  background-color: #FFFFFF;
}

.lm-bg-turquoise {
  background-color: #009EE2;
}

.lm-orange {
  color: #FAB781;
}

.lm-dark-blue {
  color: #242E50;
}

.lm-white {
  color: #FFFFFF;
}

.lm-white-hover:hover {
  color: #FFFFFF;
}

.b--lm-white-hover:hover {
  border-color: #FFFFFF;
}

.lm-turquoise {
  color: #009EE2;
}

.b--lm-orange {
  border-color: #FAB781;
}

.b--lm-dark-blue {
  border-color: #242E50;
}

.b--lm-white {
  border-color: #FFFFFF;
}

.b--lm-turquoise {
  border-color: #009EE2;
}

footer p a {
  padding: 0 2em 0 2em;
  text-decoration: none;
  color: #242E50;
}

.select-box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #242e50;
}

.select-box select {
  background-color: #fff;
  color: grey;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;  
  border: 0;
  margin: 0;
  border-radius: 2px;
  text-indent: 0.01px;
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.select-box::before,
.select-box::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.select-box::after {
  color: #fab781;
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

/* Styleguide */

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
