/* This file is for your main application css. */

/*fonts*/

body {
  font-family: 'NunitoSans', Arial, sans-serif;
  letter-spacing: 0.7px;
  color: #242E50;
  min-height: 100%;
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/nunito/NunitoSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans-Italic';
  src: url('/fonts/nunito/NunitoSans-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/segoe/SEGOEUI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI-Bold';
  src: url('/fonts/segoe/SEGOEUIB.TTF') format('truetype');
}

.font {
  font-family: 'Segoe UI', 'NunitoSans', Arial,sans-serif;
}

.segoe {
  font-family: 'Segoe UI';
}

.segoe-bold {
  font-family: 'Segoe UI-Bold';
}

.nunito {
  font-family: 'NunitoSans';
}

.nunito-italic {
  font-family: 'NunitoSans-Italic';
}

h1, h2 {
  font-family: 'Segoe UI', sans-serif;
}

h2 > span.b {
  font-family: 'Segoe UI-Bold';
}

.cover h2 {
  font-family: 'Segoe UI-Bold';
  letter-spacing: 1.5px;
}

/*elements*/
.container {
  min-height:100vh;
  position:relative;
}

.button {
  border: none;
}

.cover-img {
  background-image: url("/images/background-img.png");
}

.cover-img p {
  font-family: 'NunitoSans';
  letter-spacing: 1px;
}

/* Phoenix flash messages */
.alert:empty {
  display: none;
}

.checked-fill:checked~label > .is-checked {
  background-color: #242e50;
}

.checked-fill:checked~label {
  font-family: 'Segoe UI-Bold';
}

.checked-fill:focus~label {
  outline: auto 5px -webkit-focus-ring-color;
}

.unchecked {
  background-image: url(/images/White_Plus.png);
  background-position: right 9px top 50%;
  background-size: 15px;
  background-repeat: no-repeat;
}

.filter-check:not(:checked)~.filter-sidebar {
  margin-left: -80vw;
}

.filter-check:checked~.filter-sidebar {
  margin-left: 0;
}

.filter-check:not(:checked)~.filter-sidebar,
.filter-check:checked~.filter-sidebar {
  -webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.sidebar {
  z-index: 10;
}

/*color palette*/

.lm-bg-orange {
  background-color: #FAB781;
}

.lm-bg-dark-blue {
  background-color: #242E50;
}

.lm-bg-white {
  background-color: #FFFFFF;
}

.lm-bg-turquoise {
  background-color: #009EE2;
}

.lm-bg-grey {
  background-color: #c2c2c2;
}

.lm-bg-light-grey {
  background-color: #E9E9E9;
}

.lm-orange {
  color: #FAB781;
}

.lm-dark-blue {
  color: #242E50;
}

.lm-white {
  color: #FFFFFF;
}

.lm-white-hover:hover {
  color: #FFFFFF;
}

.b--lm-white-hover:hover {
  border-color: #FFFFFF;
}

.lm-turquoise {
  color: #009EE2;
}

.lm-dark-turquoise {
  color: #00587e;
}

.lm-grey {
  color: #c2c2c2;
}

.lm-dark-grey {
  color: #767676;
}

.b--lm-orange {
  border-color: #FAB781;
}

.b--lm-dark-blue {
  border-color: #242E50;
}

.b--lm-white {
  border-color: #FFFFFF;
}

.b--lm-turquoise {
  border-color: #009EE2;
}

.b--lm-grey {
  border-color: #c2c2c2;
}

footer p a {
  padding: 0 2em 0 2em;
  text-decoration: none;
  color: #242E50;
}


/* Landing Page - Resources dropdown */

.select-box select {
  background-color: #fff;
  color: #242e50;
  padding: .5em;
  padding-right: 2.5em;
  margin: 0;
  text-indent: 0.01px;
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.select-box::before,
.select-box::after {
  position: absolute;
  pointer-events: none;
}

.select-box::after {
  color: #fab781;
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

/* Landing Page - resource tags */

.lh-tag {
  line-height: 2.4;
}

/* Landing Page - resource like buttons */

.like {
  background-image: url("../images/Thumbs_up_normal.svg");
  background-repeat: no-repeat;
}

.like:hover {
  background-image: url("../images/Thumbs_up_hover.svg");
}

.liked {
  background-image: url("../images/Thumbs_up_hover.svg");
}

.dislike {
  background-image: url("../images/Thumbs_down_normal.svg");
  background-repeat: no-repeat;
}

.dislike:hover {
  background-image: url("../images/Thumbs_down_hover.svg");
}

.disliked {
  background-image: url("../images/Thumbs_down_hover.svg");
}

.share {
  background-image: url("../images/Share.svg");
  background-repeat: no-repeat;
}

/* Styleguide */

code {
  padding: 2px 4px;
  font-size: 90%;
  color: black;
  background-color: #E9E9E9;
  border-radius: 4px;
}

.h05 {
  height: 0.5rem;
}

.w05 {
  width: 0.5rem;
}

.h2.5 {
  height: 3rem;
}

#email_form h2 {
  font-family: 'Segoe UI-Bold';
}

#alphasection ul {
  margin: 2rem 0;
  list-style-type: none;
}

#alphasection ul li {
  text-indent: -30px;
}

#alphasection ul > li:before {
  content: "- ";
  text-indent: -30px;
}

.bg--lm-green {
  background-color: #E2F6D6;
}

.b--lm-green {
  border-color: #81c03d;
}

.nr {
  resize: none;
}

@media only screen and (min-width: 950px) {
  /* the email button is half way over the
     edge of the bottom of the email card
     as per design:
     https://github.com/LDMW/app/issues/59#issuecomment-301418458*/
  #alphasection button {
    bottom: -30px;
  }

  .filter-check:not(:checked)~.filter-sidebar {
    margin-left: -50vw;
  }
}
