<%= if assigns[:to] do %>
  <%= link @value, to: @to, class: get_class("primary_button") <> " #{assigns[:class]}", id: assigns[:id] %>
<%= else %>
  <%= submit @value, class: get_class("primary_button") <> " #{assigns[:class]}", id: assigns[:id] %>
<% end %>
